body{
   font-family: 'Open Sans', sans-serif;
   background-color: #FDEFF7;

   padding: 5%;
   padding-top: 7%;
  text-align: center;
 }
#am {
  font-size: 6em;
}
.buttons {
  font-size: 5em;
  width: 75%;
  height: 25%;
  background-color: white;
  margin: auto;
  margin-top: 2%;
  padding: 8%;
}
#submit {
  position: absolute;
  bottom: 0;
  background-color: #E877AF;
  color: white;
  font-size: 40pt;
  padding: 4%;
  width: 100%;
  right:0;
  padding-right: 0%;
  text-align: center;
}
#living {
  text-align: center;
  padding-top: 6%;
  font-size: 3.5em;
  padding-bottom: 6%;
  
}
